*{
    margin:0;
    padding:0;
}
/*styling body*/
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    color:rgb(83, 82, 82);
    line-height: 30px;
    font-weight: 100;
}
button{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
/*font-family: 'Concert One', cursive;*/

/*styling header*/
.wrap-header{
    width:100%;
    z-index:1;
}
header{
    padding:15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: unset;
}
header .website-name{
    color:rgb(252, 250, 249); 
    font-size: x-large;
    font-weight: 600;
    width:fit-content;
    padding:2px;
    position:absolute;
    margin:-5px 0 0 0;
    border-radius: 3px;
}
header .full-info{
    font-size: x-small;
    margin: -10px 0 0 34px;
    color:rgb(129, 26, 26);
}
nav{
    float:right;
    padding:5px;
    color:white;
}
nav span{
    margin-left:50px;
    font-size:large;
    padding:10px;
}
nav span:hover{
    border:5px solid rgb(214, 140, 30);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    cursor:pointer;
}
nav .hire-us-btn{
    background-color: rgb(42, 140, 165);
    color:white;
    padding:10px;
}
/*styling wrap all*/
.wrap-all{
    display:flex;
}
/*styling menu wrapper*/
.menu-wrapper{
    position: fixed;
    height:100%;
    right:0;
    width:0;
    bottom:0;
    top:0;
    background-color: rgb(211, 103, 30);
    overflow: hidden;
    font-size: x-large;
    color:rgb(255, 255, 255);
    text-align:center;
    transition: all 200ms ease-in-out;
    z-index:2;
}
.menu-wrapper .wrap{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.menu-wrapper .close{
    padding:15px;
    font-size: x-large;
    width:fit-content;
    color:rgb(51, 49, 49);
    position:absolute;
}
.menu-wrapper .close:hover{
    color:rgb(185, 15, 15);
    cursor: pointer;
}
.menu{
    padding:10px;
    
}
.menu ul{
    list-style: none;
    line-height: 40px;
    width:max-content
}
.menu ul li:hover{
    color:rgb(41, 40, 40);
    cursor: pointer;
}
.menu ul li i{
    font-size: small;
    color:rgb(235, 198, 129);
}
/*styling content wrapper*/
.content-wrapper{
    width:100%;
    transition: margin 200ms ease-in-out;
    box-sizing: border-box;
}
/*styling dropdown contact*/
.drop-down-contact{
    padding:10px;
    background-color: rgb(32, 60, 97);
    color:rgb(240, 186, 10);
    text-align: center;
    opacity: .9;
}
.drop-down-contact .drop-down{
    transform: rotate(45deg);
}
/*styling menu-icon*/
.menu-icon{
    padding:20px;
    height:17px;
    background-color:rgb(211, 103, 30);
    margin-top: -30px;
}
.bar-wrap{
    padding:10px 10px 5px 10px; 
    background-color: unset;
    width:fit-content;
    margin:-30px -40px 0 0;
   
}
.wrap-menu-bars{
    display:flex;
    justify-content: end;
    padding:20px;
    background-color: unset;
    margin-top: 10px;
}
.sign-in{
    padding:0 5px;
    margin:-32px 0 0 0;
    background-color: unset;
    color:white;
    height:30px;
    border:0;
    font-size: large;
}
.sign-in:hover{
    cursor: pointer;
    color:rgb(226, 160, 18);
}
.bar-wrap:hover{
    cursor:pointer;
    color:rgb(226, 94, 17);
}
.bar-one{
    width:20px;
    padding:2px;
    background-color: rgb(202, 206, 200);
    margin-bottom:3px;
    margin-top:-5px;
    transition: all 500ms linear;
}
.bar-two{
    width:20px;
    padding:2px;
    background-color: rgb(202, 206, 200);
    margin-bottom:3px;
    transition: all 500ms linear;
}
.bar-three{
    width:20px;
    padding:2px;
    background-color: rgb(202, 206, 200);
    transition: all 500ms linear;
}
/*styling us-container*/
.us-container{
    padding:20px;
}
.us-container .specialize{
    color:rgb(224, 95, 21);
}
.us-container .us-message{
    padding:10px;
    color:rgb(65, 62, 62);
    padding:10px;
    box-shadow:1px 1px 3px lightgrey;
}
.us-container .us-message img{
    width:100%;
}
.us-message .decor{
    color:chocolate;
}
.us-message .buttons{
    padding:20px 0;
    margin-top:30px;
}
.us-message .hire-us{
    padding:10px;
    width:40%;
    border-radius: 4px;
    font-weight: 600;
    background-color: chocolate;
    color:white;
    border:1px solid;
}
.us-message .hire-us:hover{
    cursor: pointer;
    background-color: rgb(190, 94, 25);
}
.us-message .call{
    padding:10px;
    width:40%;
    border-radius: 4px;
    font-weight: 600;
    background-color: unset;
    color:rgb(243, 106, 14);
    border:1px solid;
}
.us-message .call:hover{
    cursor:pointer;
    color:rgb(202, 91, 17);
}
/*styling hire-us-container*/
.hire-us-container{
    height:0;
    overflow:hidden;
    position:absolute;
    background-color: white;
    top:100px;
    transition:top 300ms ease-in-out;
}
.hire-us-container .close{
    text-align: end;
    font-size: large;
    padding:5px;
    margin:-5px 0 0 0;
}
.hire-us-container .close i:hover{
    cursor: pointer;
    color: rgb(221, 53, 11);
}
.hire-us-container input{
    padding:10px;
    margin-bottom: 10px;
    width:90%;
}
.hire-us-container select{
    padding:10px;
    margin-bottom: 10px;
}
.hire-us-container textarea{
    padding:10px;
    width:90%;

}
.hire-us-container button{
    padding:10px;
    width:100%;
    background-color: chocolate;
    color:white;
    border:0;
    border-radius:3px;
}
/*styling video*/
.video{
    width:100%;
    background-color: rgb(202, 113, 24);
}
video{
    width:95%;
    margin:10px;
}
/*styling ask-question*/
.ask-question{
    padding:20px;
    margin-top: 20px;
    box-shadow: 1px 1px 3px lightgray;
}
.ask-question p{
    padding:10px;
}
.ask-question button{
    width:50%;
    padding:10px;
    background-color: unset;
    color:rgb(212, 128, 49);
    border:1px solid;
    border-radius: 3px;
    font-weight: 300;
}

/*styling pop-up-help*/
.pop-up-help{
    margin:30px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    overflow:hidden;
    height:0;
    transition: margin 200ms ease-in-out;
    font-size:small;
    bottom:20px;
    box-shadow: 1px 1px 3px;
    z-index: 1;
}
.pop-up-help p{
    font-weight: 600;
}
.pop-up-help ul{
    list-style-position: inside;
    padding:10px;
}
.pop-up-help .close{
        text-align: end;
        font-size: large;
        padding:5px;
        margin:-5px 0 0 0;
}
.pop-up-help .close i:hover{
    color:rgb(190, 51, 16);
    cursor: pointer;
}
.pop-up-help .note{
    border-bottom: 7px solid;
    width:fit-content;
    font-size: x-large;
    padding:3px 3px 10px 3px;
    
}
.pop-up-help .buttons{
    padding:20px;
    text-align: center;
}
.pop-up-help .cancel{
    padding:10px;
    background-color: unset;
    border:1px solid;
    border-radius: 4px;
    color:rgb(248, 133, 2);
    width:40%;
    font-weight: 600;
}
.pop-up-help .cancel:hover{
    cursor: pointer;
    color:rgb(248, 10, 2);
}
.pop-up-help .go{
    padding:10px;
    background-color: rgb(26, 121, 26);
    border-radius: 4px;
    border:0;
    color:white;
    width:40%;
    font-weight: 600;
}
.pop-up-help .go:hover{
    cursor: pointer;
    background-color: rgb(40, 170, 40);
}
/*styling about-us*/
.about-us{
    background-color: unset;
    padding:20px;
    margin: 10px 10px 10px 10px;
    box-shadow: 1px 1px 3px lightgray;
}

.about-us .content{
    padding:10px;
}
.about-us .content h3{
    text-transform:capitalize;
    background-color: rgb(202, 161, 79);
    color:rgb(54, 54, 53);
    padding:0 0 0 10px;
    width:fit-content;
}
.about-us .content .read-more{
    border:0; 
    background-color:unset;
    padding:10px;
    border-radius:4px; 
    color:rgb(211, 103, 30)
}
.about-us .content .read-more:hover{
    cursor: pointer;
    color:rgb(163, 79, 22); 
}
#read-more{
    padding:10px;
    box-shadow: 1px 1px 4px lightgrey;
}
#read-more{
    display:none;
}
.about-us a{
    color:rgb(221, 125, 0);
}
/*stylinf why-us*/
.why-us{
    padding:0 10px;
    box-shadow: 1px 1px 3px lightgray;
    margin: 10px;
}
.why-us div{
    background-color: rgb(255, 255, 255);
    padding:15px;
    border-radius: 10px;
}
.why-us ul{
    list-style: none;
}
.why-us  h3{
    text-transform:capitalize;
    background-color: unset;
    color:rgb(129, 128, 125);
    padding:0 0 0 5px;
    width:fit-content;
}
.why-us ul i{
    color:rgb(85, 84, 82);
}
.why-us button{
    background-color: unset;
    padding:20px;
    border:1px solid rgb(236, 236, 227);
    border-radius: 50%;
    margin:10px;
    background-color: rgb(241, 245, 241);
}
.why-us p{
    padding: 10px 0px 0 50px;
}
.why-us span{
    color:rgb(211, 103, 30);
    text-transform:uppercase;
    font-weight:600;
}
.learn-more{
    text-align:center;
    padding:0 20px;
}
.learn-more .learn-more-btn{
    padding:10px;
    width:100%;
    border-radius: 5px ;
    background-color: rgb(184, 84, 26);
    color:rgb(255, 255, 255);
    border:0;
}
.learn-more-btn:hover{
    background-color: rgb(185, 82, 14);
    color:white;
    cursor: pointer;
}
/*styling summary*/
.summary{
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin: 50px 10px 10px 10px;
    color:rgb(61, 60, 59);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center ;
    gap:10px;
    box-shadow: 1px 1px 3px lightgray;
}
.summary h3{
    font-size: x-large;
    color:rgb(211, 103, 30);
}
.sum-1{
    padding:30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width:200px;
    border:1px solid rgb(245, 242, 242);
}
.sum-2{
    padding:30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width:200px;
    border:1px solid rgb(245, 242, 242);
}
.sum-3{
    padding:30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width:200px;
    border:1px solid rgb(245, 242, 242);
}
.sum-4{
    padding:30px;
    background-color: rgb(255, 255, 255);
    width:200px;
    border:1px solid rgb(245, 242, 242);
}
/*styling more-about-us*/
.more-about-us{
    margin:0 20px;
}
.more-about-us{
    display:none;
}
.more-about-us p{
    padding:20px;
}
/*styling services*/
.services{
    box-shadow: 1px 1px 3px lightgray;
    margin:10px;
}
.services .content{
    padding:30px;
    background-color:rgb(255, 255, 255); 
    border-radius: 10px;
    margin:10px
}
.services .content ul{
    list-style: none;
}
.services h4{
    color:rgb(211, 90, 34);
    text-align: center;
    margin-top: 7px;
    text-transform: uppercase;
}
.services .content ul li{
    padding:3px;
    width:fit-content;
}
.services .content ul li:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    color:rgb(146, 144, 141);
}
.services-icon{
    display:flex;
    justify-content: center;
    color:rgb(52, 118, 121);
    
}
.services-icon div{
    width:50px;
    height:50px;
    border-radius: 50%;
    
    display:flex;align-items: center;
    justify-content: center;
}
.services-icon div i{
    font-size: x-large;
}
/*styling our-team*/
.our-team{
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin:50px 10px;
    border-radius: 10px;
}
.our-team h3{
    text-align: center;
    color:rgb(211, 90, 34);
}
.our-team .founder{
    width:100%;
    margin:20px 0;
    border:1px solid rgb(206, 205, 205);
    border-radius: 10px;
}
.our-team .founder img{
    width:100%;
    border-radius: 10px 10px 0 0;
}
.our-team p{
    padding:10px;
    font-size: medium;
}
.our-team a{
    color:rgb(177, 120, 67);
}
.our-team .read-more{
    border:0; 
    background-color:unset;
    padding:20px;
    border-radius:4px; 
    color:white;
    font-size: smaller;
}
.our-team .read-more:hover{
    cursor: pointer;
    color:rgb(235, 152, 27);
}

/*styling footer*/
footer{
    margin-top: 50px;
    padding:10px;
    background-color:rgb(202, 157, 59);
    box-shadow: 1px 1px 3px;
    text-align: center;
    color:rgb(255, 255, 255);
}

/*at small screens*/
@media screen and (max-width:1200px) {
    .short-cut-info{
        width:100%;
    }
    nav{
        display:none;
    }
}