*{
    margin:0;
    padding:0;
}
/*styling body*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    color:rgb(65, 65, 64);
    line-height: 30px;
}
button{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*font-family: 'Concert One', cursive;*/

/*styling about-us*/
.about-us{
    background-color: unset;
    padding:10px;
    margin: 10px 10px 10px 10px;
}
.about-us .capital-letter{
    color:rgb(206, 162, 16);
    font-size: 50px;
    background-color: unset;
    border:0;
}
.about-us .content{
    padding:10px;
}
.about-us .content h3{
    text-transform:capitalize;
    background-color: rgb(202, 161, 79);
    color:rgb(54, 54, 53);
    padding:0 0 0 10px;
    width:fit-content;
}
.about-us .content .read-more{
    border:0; 
    background-color:unset;
    padding:10px;
    border-radius:4px; 
    color:rgb(212, 167, 18);
}
.about-us .content .read-more:hover{
    cursor: pointer;
    color:rgb(121, 85, 15); 
}
#read-more{
    display:none;
}
/*styling header*/
header{
    padding:15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: unset;
}
header .website-name{
    color:rgb(212, 128, 17); 
    font-size: x-large;
    font-weight: 600;
    width:fit-content;
    padding:2px;
    position:absolute;
    margin:15px 0 0 0;
    border-radius: 3px;
}

nav{
    float:right;
    padding:5px;
    color:white;
}
nav span{
    margin-left:50px;
    font-size:large;
    padding:10px;
}
nav span:hover{
    border:5px solid rgb(214, 140, 30);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    cursor:pointer;
}
nav .hire-us-btn{
    background-color: rgb(42, 140, 165);
    color:white;
    padding:10px;
}
/*styling wrap all*/
.wrap-all{
    display:flex;
}
/*styling menu wrapper*/
.menu-wrapper{
    height: 100vh;
    width:0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    font-size: large;
    color:rgb(177, 87, 27);
}
.menu-wrapper .close{
    padding:15px;
    font-size: x-large;
    width:fit-content;
}
.menu-wrapper .close:hover{
    color:rgb(231, 16, 16);
    cursor: pointer;
}
.menu{
    padding:10px;
}
.menu ul{
    list-style: none;
    line-height: 40px;;
}
.menu ul li{
    width: fit-content;
}
.menu ul li:hover{
    color:rgb(204, 103, 36);
    cursor: pointer;
    border-bottom: 1px solid;
    width:fit-content;
}
.menu ul li i{
    font-size: small;
    color:rgb(235, 198, 129);
}
/*styling content wrapper*/
.content-wrapper{
    width:100%;
    transition: margin 200ms ease-in-out;
    box-sizing: border-box;
}
/*styling dropdown contact*/
.drop-down-contact{
    padding:10px;
    background-color: rgb(32, 60, 97);
    color:rgb(240, 186, 10);
    text-align: center;
    opacity: .9;
}
.drop-down-contact .drop-down{
    transform: rotate(45deg);
}
/*styling menu-icon*/
.menu-icon{
    padding:40px;
    height:17px;
    background-color:rgb(66, 75, 69);
    margin-top: -30px;
}
.bar-wrap{
    padding:10px 10px 5px 10px; 
    background-color: unset;
    width:fit-content;
    margin:-30px -40px 0 0;
   
}
.wrap-menu-bars{
    display:flex;
    justify-content: end;
    padding:20px;
    background-color: unset;
    margin-top: 10px;
}
.sign-in{
    padding:0 5px;
    margin:-34px 0 0 0;
    background-color: unset;
    border:solid 1px rgb(184, 182, 182);
    color:white;
    height:25px;
}
.sign-in:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: rgb(30, 73, 30);
}
.bar-wrap:hover{
    cursor:pointer;
    color:rgb(226, 94, 17);
}
.bar-one{
    width:20px;
    padding:1px;
    background-color: rgb(202, 206, 200);
    margin-bottom:3px;
    margin-top:-5px;
    transition: all 500ms linear;
    border-radius: 10px;
}
.bar-two{
    width:20px;
    padding:1px;
    background-color: rgb(202, 206, 200);
    margin-bottom:3px;
    border-radius: 10px;
    transition: all 500ms linear;
}
.bar-three{
    width:20px;
    padding:1px;
    background-color: rgb(202, 206, 200);
    transition: all 500ms linear;
    border-radius: 10px;
}

/*styling ask-question*/
.ask-question{
    padding:20px;
    margin-top: 20px;
}
.ask-question p{
    padding:10px;
}
.ask-question button{
    width:100%;
    padding:10px;
    background-color: unset;
    color:rgb(75, 72, 72);
    border:1px solid;
}
.ask-question .icon{
    text-align: center;
    font-size: 50px;
    color:rgb(179, 117, 59);
}
/*styling pop-up-help*/
.pop-up-help{
    margin:30px;
    position: absolute;
    background-color: white;
    overflow:hidden;
    height:0;
    transition: margin 200ms ease-in-out;
    font-size:small;
}
.pop-up-help p{
    color:rgb(204, 93, 29);
    font-weight: 600;
}
.pop-up-help ul{
    list-style-position: inside;
    padding:10px;
}
.pop-up-help h4{
    border-bottom: 7px solid;
    width:fit-content;
    color:rgb(17, 104, 145);
    font-size: x-large;
    padding:3px 3px 10px 3px;
    
}
.pop-up-help .buttons{
    padding:20px;
    text-align: center;
}
.pop-up-help .cancel{
    padding:10px;
    background-color: rgb(196, 34, 34);
    border:0;
    border-radius: 4px;
    color:white; 
}
.pop-up-help .go{
    padding:10px;
    background-color: rgb(26, 121, 26);
    border-radius: 4px;
    border:0;
    color:white;
}


/*styling request-design*/
.request-design-box{
    background-color: white;
    margin:20px;
    position:absolute;
    width: 0;
    overflow: hidden;
    transition:margin 300ms ease-in-out;
    font-size:small;
}
.request-design-box h4 {
    padding:20px;
    background-color: rgb(214, 143, 61);
    color:white;
}
.request-design-box .inputs, .request-design-box textarea{
    padding:10px;
    margin:10px;
    width:80%;
}
.request-design-box button{
    padding:10px;
    width:100%;
    background-color: rgb(223, 255, 105);
    border:0;
    border-radius: 5px;
}
.request-design-box button{
    background-color: rgb(158, 194, 27);
    cursor: pointer;
    
}
.request-design-box .cancel{
    padding:10px;
    width:100%;
    border:0;
    background-color: brown;
    color:white;
    margin:10px 0;
}
.request-design-box .cancel:hover{
    background-color: rgb(121, 21, 21);
    cursor:pointer;
}
/*stylinf why-us*/
.why-us{
    padding:0 10px;
}
.why-us div{
    background-color: rgb(255, 255, 255);
    padding:15px;
    border-radius: 10px;
}
.why-us ul{
    list-style: none;
}
.why-us  h3{
    text-transform:capitalize;
    background-color: unset;
    color:rgb(206, 162, 16);
    padding:0 0 0 5px;
    width:fit-content;
}
.why-us ul i{
    color:rgb(85, 84, 82);
}
.why-us button{
    background-color: unset;
    padding:20px;
    transform:skewX(-5deg);
    border:1px solid rgb(236, 236, 227);
}
.why-us p{
    padding: 10px 0px 0 50px;
}
.why-us span{
    color:rgb(206, 162, 16);
}
.learn-more{
    text-align:center;
    padding:0 20px;
}
.learn-more .learn-more-btn{
    padding:10px;
    width:100%;
    border-radius: 5px ;
    background-color: rgb(104, 98, 40);
    color:rgb(255, 255, 255);
    border:0;
}
.learn-more-btn:hover{
    background-color: rgb(66, 53, 16);
    color:white;
    cursor: pointer;
}
/*styling summary*/
.summary{
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin-top: 50px;
    color:rgb(61, 60, 59);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center ;
    gap:10px;
}
.summary h3{
    font-size: x-large;
    color:rgb(83, 145, 42);
}
.sum-1{
    padding:30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width:70px;
    border:1px solid rgb(245, 242, 242);
}
.sum-2{
    padding:30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width:70px;
    border:1px solid rgb(245, 242, 242);
}
.sum-3{
    padding:30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width:70px;
    border:1px solid rgb(245, 242, 242);
}
.sum-4{
    padding:30px;
    background-color: rgb(255, 255, 255);
    width:70px;
    border:1px solid rgb(245, 242, 242);
}
/*styling more-about-us*/
.more-about-us{
    margin:0 20px;
}
.more-about-us{
    display:none;
}
.more-about-us p{
    padding:20px;
}
/*styling services*/
.services{
    margin-top: 0px;
}
.services .content{
    padding:30px;
    background-color:rgb(255, 255, 255); 
    border-radius: 10px;
    margin:10px
}
.services .content ul{
    list-style: none;
}
.services h4{
    color:rgb(180, 127, 48);
    text-align: center;
    margin-top: 7px;
}
.services .content ul li{
    padding:3px;
    width:fit-content;
}
.services .content ul li:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    color:rgb(146, 144, 141);
}
.services-icon{
    display:flex;
    justify-content: center;
    color:rgb(52, 118, 121);
    
}
.services-icon div{
    width:50px;
    height:50px;
    border-radius: 50%;
    
    display:flex;align-items: center;
    justify-content: center;
}
.services-icon div i{
    font-size: x-large;
}
/*styling our-team*/
.our-team{
    background-color: rgb(255, 255, 255);
    color:rgb(46, 46, 45);
    padding:20px;
    margin:50px 10px;
    border-radius: 10px;
}
.our-team h3{
    text-align: center;
}
.our-team .founder{
    width:100%;
    margin:20px 0;
    border:1px solid rgb(206, 205, 205);
    border-radius: 10px;
}
.our-team .founder img{
    width:100%;
    border-radius: 10px 10px 0 0;
}
.our-team p{
    padding:10px;
    font-size: small;
}
.our-team a{
    color:rgb(177, 120, 67);
}
.our-team .read-more{
    border:0; 
    background-color:unset;
    padding:20px;
    border-radius:4px; 
    color:white;
    font-size: smaller;
}
.our-team .read-more:hover{
    cursor: pointer;
    color:rgb(235, 152, 27);
}

/*styling footer*/
footer{
    margin-top: 50px;
    padding:20px;
    background-color:rgb(202, 157, 59);
    box-shadow: 1px 1px 3px;
}
footer .address{
    margin-top: 10px;
    border-top: 1px solid;
    padding: 10px;
}
footer .about-company{
    border-top: 1px solid;
    padding: 10px;
}
footer .copyright{
    text-align: center;
    font-size: small;
}
/*at small screens*/
@media screen and (max-width:1200px) {
    .short-cut-info{
        width:100%;
    }
    nav{
        display:none;
    }
}