*{
    margin:0;
    padding:0;
}
/*styling body*/
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(32, 32, 32);
    font-size: small;

}
/*styling header*/
header{
    height:150px;
    padding:15px;
    background-image: url('1.png') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
nav{
    float:right;
    padding:5px;
    color:white;
}
nav span{
    margin-left:50px;
    font-size:large;
    padding:10px;
}
nav span:hover{
    border:5px solid rgb(214, 140, 30);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    cursor:pointer;
}
nav .hire-us-btn{
    background-color: rgb(42, 140, 165);
    color:white;
    padding:10px;
}
/*styling wrap all*/
.wrap-all{
    display:flex;
}
/*styling menu wrapper*/
.menu-wrapper{
    height: 100vh;
    width:0;
    background-color: white;
    overflow: hidden;
    transition: width 300ms linear;
}
.menu-wrapper .close{
    padding:5px;
    font-size: x-large;
    width:fit-content;
}
.menu-wrapper .close:hover{
    color:rgb(231, 16, 16);
    cursor: pointer;
}
.menu{
    padding:10px;
}
.menu ul{
    list-style: none;
    line-height: 40px;;
}
.menu ul li:hover{
    color:rgb(204, 103, 36);
    cursor: pointer;
    border-bottom: 1px solid;
}
/*styling content wrapper*/
.content-wrapper{
    width:100%;
    transition: margin 200ms ease-in-out;
}
/*styling contact-us*/
.social-media{
    background-color: rgb(238, 210, 55);
    width:100%; 
    padding:20px;
    text-align: center;
    margin-left: -20px;
}
.social-media span{
    margin-right:10px;
    font-size:x-large;
}
.facebook{
    color:blue;
}
.whatsapp{
    color:green;
}
.instagram{
    color:purple;
}
.youtube{
    color:red;
}
.twitter{
    color:lightblue;
}
.linkedin{
    color:navy;
}
.facebook,.whatsapp,.instagram,.youtube,.twitter,.linkedin{
    background-color: rgb(245, 241, 241);
    border-radius: 5px;
    padding:5px;
}
.facebook:hover,.whatsapp:hover,.instagram:hover,.youtube:hover,.twitter:hover,.linkedin:hover{
    box-shadow: 1px 2px 5px;
    cursor: pointer;
}
.contact-us a{
    color:rgb(0, 0, 0);
}
/*styling dropdown contact*/
.drop-down-contact{
    padding:10px;
    background-color: rgb(32, 60, 97);
    color:rgb(240, 186, 10);
    text-align: center;
    opacity: .9;
}
.drop-down-contact .drop-down{
    transform: rotate(45deg);
}
/*styling menu-icon*/
.menu-icon{
    padding:40px;
    height:17px;
    background-color: unset;

}
.bar-wrap{
    padding:10px 10px 5px 10px; 
    background-color: unset;
    width:fit-content;
    margin:-30px -40px 0 0;
   
}
.wrap-menu-bars{
    display:flex;
    justify-content: end;
    padding:20px;
    background-color: unset;
    margin-top: 10px;
}
.sign-in{
    padding:5px;
    margin:-40px 0 0 0;
}
.bar-wrap:hover{
    cursor:pointer;
    color:rgb(226, 94, 17);
}
.bar-one{
    width:20px;
    padding:1px;
    background-color: white;
    margin-bottom:3px;
    margin-top:-5px;
    transition: all 200ms linear;
    border-radius: 10px;
}
.bar-two{
    width:20px;
    padding:1px;
    background-color: white;
    margin-bottom:3px;
    border-radius: 10px;
    transition: all 200ms linear;
}
.bar-three{
    width:20px;
    padding:1px;
    background-color: white;
    transition: margin 200ms linear;
    border-radius: 10px;
    transition: all 200ms linear;
}

/*styling welcome-box*/
.welcome-box{
    padding:10px;
    display:flex;
    background-color: unset;
}
.welcome-box .welcome-media{
    width:600px;
}
.welcome-box .welcome-media img{
    width:100%;
}
.welcome-box .welcome-message{
    background-color: rgb(37, 37, 37);
    padding:10px;
    height:fit-content;
    margin:170px 10px 20px 10px;
    font-size: xx-large;
    width:500px;
    text-align: center;
}
.welcome-box .welcome-message .bragging{
    font-size: medium;
    text-align: start;
    padding:20px;
    background-color: unset;
    color:rgb(212, 205, 205);
    opacity:.9;
    border-radius: 4px;
    margin:20px 10px;
}
.welcome-box .welcome-message .one{
    color:rgb(224, 137, 24);
    padding:10px;
}
.welcome-box .welcome-message .two{
    color: rgb(52, 71, 95);
    background-color: rgb(201, 194, 194);
    padding:10px;
}
.welcome-box button{
    padding:20px;
    border:0;
    background-color: rgb(223, 161, 28);
    color:rgb(255, 255, 255);
    width:90%; 
    margin:25px 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
.welcome-box button:hover{
    border:2px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
/*styling short-cut-info*/
.short-cut-info{
    padding:20px;
    background-color: rgb(37, 37, 37);
    height:fit-content;
    margin:20px 10px 0 10px;
}
.short-cut-info .explore{
    padding:20px;
    background-color: rgb(42, 42, 43);
    border-bottom: 1px solid;
    color:rgb(235, 152, 27);
}
.short-cut-info .help{
    padding:20px;
    background-color:  rgb(42, 42, 43);
    border-bottom: 1px solid;
    color:rgb(235, 152, 27);
}
.short-cut-info .faqs{
    padding:20px;
    background-color:  rgb(42, 42, 43);
    border-bottom: 1px solid;
    color:rgb(235, 152, 27);
}
.short-cut-info div:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    color:rgb(207, 182, 145);
}
/*styling about-us*/
.about-us{
    color:rgb(41, 40, 40);
    background-color: rgb(39, 38, 38);
    padding:10px;
    margin-top: 70px;
    color:rgb(204, 196, 196);
    margin:10px;
}
.about-us .content{
    padding:10px;
}
.about-us .content h3{
    border:1px dotted rgb(241, 126, 18);
    padding:10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.about-us .content .read-more{
    border:0; 
    background-color:unset;
    padding:20px;
    border-radius:4px; 
    color:white;
}
.about-us .content .read-more:hover{
    cursor: pointer;
    color:rgb(235, 152, 27);
    border:1px solid rgb(235, 152, 27);
}
/*styling electrical design*/
.electrical-design{
    color:rgb(218, 215, 211);
    padding:10px;
    margin:40px 5px;
    border-radius: 5px;
    background-color: rgb(39, 38, 38);
}
.electrical-design  h5{
    background-color: unset;
    color:rgb(206, 203, 197);
    border-bottom: 1px solid rgb(228, 130, 18);
    width:fit-content;
    padding:20px;
    opacity:.9;
}
.electrical-design p{
    padding:10px;
    background-color: unset;
}
.electrical-design .image{
    text-align: center;
    padding:10px
}
.electrical-design img{
    width:270px;
    border-radius: 10px;
}
.electrical-design button{
    padding:20px;
    background-color:unset;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    border:0;
}
.electrical-design button:hover{
    cursor:pointer;
    border-radius: 5px;
    background-color: rgb(27, 85, 112);
}
/*stylinf why-us*/
.why-us{
    color:rgb(204, 196, 196);
    padding:50px 10px;
    background-color: unset;
}
.why-us div{
    background-color: rgb(41, 40, 40);
    padding:15px;
    border-radius: 10px;
}
.why-us ul{
    list-style: none;
}
.why-us  h3{
    border:1px dotted rgb(235, 159, 45);
    padding:10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.why-us ul i{
    color:rgb(29, 67, 99);
}
.learn-more{
    text-align:center;
    padding:20px;
}
.learn-more-btn{
    padding:10px;
    width:100%;
    border-radius: 20px;
    background-color: rgb(107, 85, 25);
    color:white;
    border:0;
}
/*styling services*/
.services{
    margin-top: 50px;
}
.services .content{
    padding:30px;
    background-color:rgb(39, 38, 38); 
    border-radius: 10px;
    margin:10px
}
.services .content ul{
    list-style: none;
}
.services h4{
    color:rgb(255, 255, 255);
    text-align: center;
}
.services .content ul li{
    padding:3px;
    width:fit-content;
    border-radius: 4px;
    color:rgb(231, 226, 226);
}
.services .content ul li:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    color:rgb(214, 144, 38);
}
/*styling summary*/
.summary{
    background-color: unset;
    padding:20px;
    margin-top: 50px;
    color:rgb(255, 255, 255);
}
.sum-1{
    padding:30px;
    background-color: rgb(32, 46, 51);
    margin-bottom: 30px;
}
.sum-2{
    padding:30px;
    background-color: rgb(40, 80, 69);
    margin-bottom: 30px;
}
.sum-3{
    padding:30px;
    background-color: rgb(65, 30, 10);
    margin-bottom: 30px;
}
.sum-4{
    padding:30px;
    background-color: rgb(14, 68, 37);
}
/*styling our-team*/
.our-team{
    background-color: rgb(41, 40, 40);
    color:rgb(196, 192, 187);
    padding:20px;
    margin:50px 10px;
    border-radius: 10px;
}
.our-team h3{
    text-align: center;
    border-bottom: 1px solid rgb(218, 126, 51);
    padding:10px;
}
.our-team .founder{
    width:100%;
    margin:20px 0;
    border:1px solid rgb(56, 55, 55);
    border-radius: 10px;
}
.our-team .founder img{
    width:100%;
    border-radius: 10px 10px 0 0;
}
.our-team p{
    padding:10px;
    font-size: small;
}
.our-team a{
    color:rgb(177, 120, 67);
}
/*styling footer*/
footer{
    margin-top: 50px;
    padding:20px;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(rgb(35, 35, 36),rgb(53, 52, 52));
    text-align: center;
    opacity:.9;
}
footer .address{
    margin-top: 10px;
    border-top: 1px solid;
    padding: 10px;
}
footer .about-company{
    border-top: 1px solid;
    padding: 10px;
}
footer .copyright{
    text-align: center;
    font-size: small;
}
/*at small screens*/
@media screen and (max-width:1200px) {
    .welcome-box{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -110px;
    }
    .short-cut-info{
        width:100%;
    }
    nav{
        display:none;
    }
}